<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.rootstack.sushiexpress"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Sushi Express</name>

    <description>
        Sushi Express Panamá móvil
    </description>

    <author href="http://www.rootstack.com" email="info@rootstack.com">
        Rootstack
    </author>

</widget>
